.service {
  .container .row:last-child {
    gap: 10px;
  }

  &-item {
    flex: 0 0 calc(100% / 3 - 10px);
    max-width: calc(100% / 3 - 10px);

    .row {
      gap: 10px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &-inner {
      background: var(--bg-balck-100);
      border: 1px solid var(--bg-black-50);
      border-radius: 10px;
      padding: 30px 15px;
      text-align: center;
      transform: all var(--transition-time) ease;
      min-height: 320px;

      &:hover {
        box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
      }

      .icon {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        margin: 0 auto 30px;
        text-align: center;
        display: block;
        transition: all var(--transition-time) ease;

        .service-icon {
          font-size: 40px;
          line-height: 60px;
          color: var(--skin-color);
          transition: all var(--transition-time) ease;
        }
      }

      &:hover .icon {
        background: var(--skin-color);
      }

      &:hover .icon .service-icon {
        font-size: 25px;
        color: white;
      }

      h4 {
        font-size: 18px;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 15px;
        color: var(--text-black-900);
      }

      p {
        line-height: 25px;
        color: var(--text-black-700);
      }
    }
  }
}
